.ghosts-wpr {
    .ghosts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        border-bottom:2px solid black;
        padding-bottom:15px;

        button {
            width:30%;
            font-size:1.2rem;

            border: none;
            background: transparent;
            padding:10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1em;
                background-color: black;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: translate3d(0, 0.2em, 0);
            }
        }
    }

    .no-ghost {
        display:flex;
        gap:30px;
        justify-content: center;
        align-items: center;
        height:100%;
        text-align: center;
    
        i {
            font-size:3rem;
            margin-bottom:20px;
        }
    
        // @media screen and (min-width:768px) {
        //     .arrow {
        //         i {
        //             transform: rotate(270deg);
        //         }
        //     }
        // }
    }
    
    
    p {
        margin-bottom:20px;
    
        &:first-line {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

.journal-right {

}