.evidence-wpr {
    .evidence {
        .filters {
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            padding: 15px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size:1.2rem;
            gap: 15px;

            label {
                position: relative;
                input {
                    display:none;
                    &:disabled + span {
                        text-decoration: line-through;
                    }
                    &:checked + span::before {
                        content: "X";
                        position: absolute;
                        left: 0px;
                        pointer-events: none;
                        font-size: 2rem;
                        top: -11px; 
                    }
                }
            }

            .reset-btn {
                font-size:1rem;
            }
        }
    }

    .ghosts-list {
        .list-wpr {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 15px;

            .ghost {
                display:flex;
                flex-wrap: wrap;
                background:#fcba0380;
                border: 1px solid #00000020;
                padding: 5px 5px 10px;

                .ghost-name {
                    width:100%;
                    text-align: center;
                    font-size:1.3rem;
                    border-bottom: 1px solid #000;
                    margin-bottom: 10px;
                }
                .ghost-evi {
                    width:100%;
                    display:grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 5px;
                    span {
                        text-align: center;
                        text-transform: uppercase;

                        &:nth-child(2) {
                            border-left:1px solid #000;
                            border-right:1px solid #000;
                            padding:0 5px;
                        }
                    }
                }
            }
        }
    }
}

